asasdasda

<br>
{{#each data}}
  <p>
  {{#each this}}
  <table border="2">
    <tr  border="2">
      <td>{{_id}}</td>
      <td>{{name}}</td>
      
      <td>{{email}}</td>
      <td>{{password}}</td>

    </tr>
  </table>
          
  {{/each }}
   
  </p>
{{/each}}